<footer>
  <section class="footer_section">
    <div class="container footer-container">
      
    
    <ul class="footer_list-about">
        <li><svg class="header_svg footer_svg">
        <use href="./images/sprite.svg#icon-Express" width="66" heigth="19.2"></use>
      </svg></li>
      <li>All Rights Reserved to info.com</li>
      <li>© DDD – Web Marketing</li>
      <li>Privacy Policy</li>
      <li><svg class="footer_dcma">
        <use href="./images/sprite.svg#icon-DMCA" width="82" heigth="24"></use>
      </svg></li>
    </ul>
    <h3>CONTACT US</h3>
    <ul>
        <li>UK</li>
        <span>+44-2020202020</span>
        <span>+44-2020202020</span>
        <li>AUT</li>
        <span>+44-2020202020</span>
        <li>AUS</li>
        <span>+44-2020202020</span>
    </ul>
    <h3>ADDRESS</h3>
    <p>Lorem ipsum set amet</p>
    <h3>OUR OFFICE HOURS</h3>
    <p>Mon-Fr: 8:00-18:00 GMT</br>Sat/Su: Closed</p>
    <h3>Email US</h3>
    <p>info@info.com</p>
     
    </div>
  </section>
</footer>
