.header_container {
  display: flex;
  justify-content: space-between;
}

.header_svg {
  margin: 20px 0;
  height: 24px;
  width: 66px;
}

.header_burger {
  margin: 16px 0;
  height: 32px;
  width: 32px;
}
