.header_container {
  display: flex;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(9px);
}

.header_svg {
  margin: 20px 0;
  height: 24px;
  width: 66px;
}

.header_burger {
  margin: 16px 0;
  height: 32px;
  width: 32px;
}
